html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-height: 100vh;
}

header {
    background-color: #021a26;
    color: #E5E7EB;
    font-size: 18px;    
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img {
    max-height: 5vh;
}
nav ul {
    display: flex;
    flex-direction: row;    
    list-style-type: none;
    font-weight: bolder;
}

nav li {
    margin-left: 25px;    
}

.subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.subheader-hero {    
    margin-left: 20%;
}

.subheader-hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;    
}

.subheader-hero-secondary {
    color: #E5E7EB;
    font-size: 18px;
    padding: 1em 0;
}

.subheader-image {
    margin-right: 20%;
    margin-left: 5%;
}

.subheader-image img {
    width: 30vw;
    height: 25vw;
}
         
.subheader-signup button {
    background-image: linear-gradient(to right, #021a26 0%, #147cac  50%, #021a26  100%);
    background-position: right center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 6px;
    padding: 10px;
    width: 100px;
    margin-top: 10px;
    font-weight: bolder;
}

.subheader-signup button:hover {
    background-position: left center;
    cursor: pointer;
}

.midsection {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.midsection h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.midsection-gallery {
    display: flex;
    justify-content: center;
    gap: 3em;
}

.midsection-img {
    width: 300px;
    height: 300px;
    border: 5px solid #3882F6;
    border-radius: 30px;
}

.midsection-img-frame p {
    text-align: center;
    font-size: 18px;
}

.midsection-quote {
    height: 500px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}

.quote {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
}

.quote-author {
    width: 300px;
    text-align: right;
    padding-top: 1em;
    padding-left: 50%;
    font-size: 24px;
    font-weight: bolder;
}

.footer-top {
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top-container {
    background-color: rgb(59,130,246);
    color: white;
    border-radius: 10px;
    padding: 60px 200px;
    width: 100%;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top-text {
    font-size: 24px;
    line-height: 0.1em;
    font-weight: bolder;
}

.footer-top-text p {
    font-size: 20px;
    font-weight: lighter;
}

.footer-top-button button{
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    font-size: 20px;
    font-weight: bolder;
}

.footer-bottom {
    background-color: rgb(31,41,55);
    margin-bottom: 0;
    color: white;
    height: 150px;
    text-align: center;
}

.footer-bottom-text {
    font-size: 24px;
    font-weight: 900;
    padding: 30px;
}